<?xml version="1.0"?>
<launch>

<rosparam file="$(find antrop_arms_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="antrop_arms" args="left_arm_controller right_arm_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/antrop_arms/joint_states"/>
</node>

</launch>
